<header class="navbar">
  <div class="navbar-title">
    <% if (user) { %>
      👋 Welkom <strong><%= user.username %></strong>
    <% } else { %>
      TransferMarkt
    <% } %>
  </div>

<nav class="nav-links">
  <a href="/">Home</a>

  <% if (user) { %>
    <a href="/players">Players</a>
    <a href="/clubs">Clubs</a>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
</nav>

</header>
