<header class="navbar">
  <div class="navbar-title">Hey Eren!</div>
  <nav class="nav-links">
    <a href="/"        class="<%= page === 'home'    ? 'nav-active' : '' %>">Home</a>
    <a href="/players" class="<%= page === 'players' ? 'nav-active' : '' %>">Players</a>
    <a href="/clubs"   class="<%= page === 'clubs'   ? 'nav-active' : '' %>">Clubs</a>
  </nav>
</header>
